*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz
*.pyc
*.pdf
*.zip
*.bbl
*.blg
old_dataset/
src/data/pretrained_models/
src/pretrained_models/
logs/
src/ckpts/
src/dataset/*.json
.DS_Store
*/_minted-report
.*